table {
  border-width: 2px;
  border-color: #d4af37;
  border-style: solid;
  background-color: transparent;
  table-layout: fixed;
  width: 75%;

}
h2 {
  font-size: 36px;
}
h1 {
  font-size: 48px;
}
td {
  border-width: 2px;
  border-color: red;
  border-style: solid;
}
ul {
  font-size: 24px;
  text-align: left;
}
.image {
  width: 40%;
  position: center;
  text-align: center;
}
.text {
  margin-left: 10px;
  width: 60%;
  position: relative;
}
body {
  font-family: "Audiowide", sans-serif;
  font-size: 20px;
  color: #ffd300;
  background-color: black;
}
.img-fluid {
  max-width: 95%;
  max-height: 95%;
}
img:hover {
  -moz-box-shadow: 0 0 50px red;
  -webkit-box-shadow: 0 0 50px red;
  box-shadow: 0 0 50px red;
}

.background{
    color: #999999;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -100;
}
